name: Rust CI

on:
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Rust
        uses: actions-rust-lang/setup-rust-toolchain@v1

      - name: Install nexttest
        run: cargo install cargo-nextest --locked

      - name: Install algokit
        run: pip install algokit

      - name: Run localnet
        run: algokit localnet start

      - name: Run tests
        run: cargo t
