name: E2E Tests

on: [push, pull_request]

jobs:
    ios_e2e:
        runs-on: macos-latest
        env:
            EXPO_NO_WAIT: true
            CI: true
        steps:
            - name: Checkout repo
              uses: actions/checkout@v3

            - name: Set up Node.js
              uses: actions/setup-node@v3
              with:
                  node-version: 20

            - name: Install dependencies
              run: npm ci

            - name: Install Expo CLI
              run: npm install -g expo-cli

            - name: Install applesimutils
              run: |
                  brew tap wix/brew
                  brew install applesimutils

            - name: Prebuild
              run: npm run prebuild

            # Build iOS and Android apps for E2E
            - name: Build iOS for Detox
              run: npm run e2e:build:ios

            # Start Metro bundler in background
            - name: Start Metro bundler
              run: npx expo start --dev-client --port 8081 &

            # Give Metro a few seconds to boot before launching Detox
            - name: Wait for Metro
              run: sleep 20

            - name: Run iOS Detox tests
              run: npm run e2e:test:ios

    # TODO: Fix android e2e tests (No space left on device)
    # android_e2e:
    #     runs-on: ubuntu-latest
    #     env:
    #         EXPO_NO_WAIT: true
    #         CI: true

    #     steps:
    #         - name: Checkout repo
    #           uses: actions/checkout@v3

    #         - name: Set up Node.js
    #           uses: actions/setup-node@v3
    #           with:
    #               node-version: 20

    #         - name: Install dependencies
    #           run: npm ci

    #         - name: Install Expo CLI
    #           run: npm install -g expo-cli

    #         - name: Android SDK
    #           uses: android-actions/setup-android@v3

    #         - name: Setup NDK
    #           uses: nttld/setup-ndk@v1
    #           with:
    #               ndk-version: r26d

    #         - name: Prebuild
    #           run: npm run prebuild

    #         - name: Start Metro bundler
    #           run: npx expo start --dev-client --port 8081 &

    #         - name: Wait for Metro
    #           run: |
    #               for i in {1..30}; do
    #                   if nc -z localhost 8081; then
    #                   echo "Metro is up!"
    #                   break
    #                   fi
    #                   echo "Waiting for Metro..."
    #                   sleep 2
    #               done

    #         - name: Enable KVM (faster emulator)
    #           run: |
    #               echo 'KERNEL=="kvm", GROUP="kvm", MODE="0666", OPTIONS+="static_node=kvm"' | sudo tee /etc/udev/rules.d/99-kvm4all.rules
    #               sudo udevadm control --reload-rules
    #               sudo udevadm trigger --name-match=kvm

    #         - name: Clean workspace
    #           run: |
    #               echo "Cleaning unused caches..."
    #               sudo rm -rf $HOME/.gradle/caches/
    #               sudo rm -rf $HOME/.android/build-cache/
    #               sudo rm -rf android/app/build/
    #               sudo rm -rf /tmp/*
    #               sudo rm -rf /usr/local/lib/android/sdk/system-images

    #         - name: Build Android for Detox
    #           uses: reactivecircus/android-emulator-runner@v2
    #           with:
    #               api-level: 29
    #               target: google_apis
    #               arch: x86_64
    #               disable-animations: true
    #               disk-size: 2048M
    #               emulator-options: "-no-snapshot -no-boot-anim -no-window -gpu swiftshader_indirect -memory 4096 -cores 4"
    #               script: npm run e2e:build:android

    #         - name: Run Android Detox tests
    #           uses: reactivecircus/android-emulator-runner@v2
    #           with:
    #               api-level: 29
    #               target: google_apis
    #               arch: x86_64
    #               disable-animations: true
    #               disk-size: 2048M
    #               emulator-options: "-no-snapshot -no-boot-anim -no-window -gpu swiftshader_indirect -memory 4096 -cores 4"
    #               script: npm run e2e:build:android